{% extends 'todoApp/base.html' %}
{% load static %}

{% block title %}About-us{% endblock %}
{% block body_class %}background-about-us{% endblock %}
{% block content %}



<div class="card-about-us">
  <div class="card-about-us-content">
  <h2>Qui sommes-nous ?</h2>

  <p>
    Ce projet est né d'une volonté simple : offrir un outil intuitif, rapide et sécurisé pour gérer ses tâches au quotidien.
    Qu’il s’agisse de noter vos idées, planifier vos journées ou suivre l’avancement de vos projets personnels,
    <strong>Ma ToDo List</strong> est conçue pour s’adapter à votre rythme et à vos besoins.
  </p>

  <p>
    Chaque utilisateur peut créer un compte personnel, s’authentifier en toute sécurité, et accéder à un espace privé où toutes ses tâches sont stockées.
  </p>

  <p>
    Le système permet d’ajouter, modifier, cocher ou supprimer des tâches à volonté.
  </p>

  <p>
    Une question ? Un bug ? Une suggestion ?<br>
    N'hésitez pas à me contacter directement à l'adresse suivante :<br>
    ✉️ <a href="mailto:Iliane_@outlook.fr">Iliane_@outlook.fr</a>
  </p>

  <p>
    Votre retour est précieux : il me permet d'améliorer l’application et de la faire évoluer dans la bonne direction.
    Merci d’utiliser <strong>Ma ToDo List</strong> et de faire partie de cette aventure !
  </p>
</div>
</div>
{% endblock %}