{% extends 'todoApp/base.html' %}
{% load static %}

{% block title %}Accueil{% endblock %}
{% block body_class %}background-login{% endblock %}

{% block content %}
<div class="login-box">
    <div class="login-header">
        <h1>Connexion</h1>
    </div>

    <form method="post">
        {% csrf_token %}
          <div class="input-box">
      {{ form.username.label_tag }}<br>
      {{ form.username }}
          </div>
     <div class="input-box">
      {{ form.password.label_tag }}<br>
      {{ form.password }}
    </div class = "btn-connexion">
        <button type="submit">Connexion</button>
    </form>

    <div class="forgot">
        <section>
            <input type="checkbox" id="check">
            <label for="check">Remember me</label>
        </section>

    </div>

    <div class="sign-up-link">
        <p>Don't have account? <a href="{% url 'register' %}">Sign Up </a></p>
    </div>
    </div>
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}
    </div>
{% endblock %}