{% extends 'todoApp/base.html' %}

{% block title %}Register{% endblock %}
{% block body_class %}background-login{% endblock %}

{% block content %}
<div class="register-box">
    <div class="register-header">
        <h1>Inscription</h1>
    </div>

    <form method="post" novalidate>
        {% csrf_token %}
        {% for field in form %}
          <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {% if field.help_text %}
              <small class="helptext">{{ field.help_text }}</small>
            {% endif %}
            {{ field.errors }}
          </div>
        {% endfor %}
        <button type="submit">Créer un compte</button>
    </form>
</div>
{% endblock %}